<?php if ($modules) { ?>
<column id="column-left" class="col-sm-3 hidden-xs">
  <div class="search-div"><?php echo $search; ?></div>
  <?php foreach ($modules as $module) { echo $module; } ?>
</column>
<?php } ?>
