<!-- 
This module, Extras, is by MarketInSG (http://www.marketinsg.com)
//-->
<div class="list-group">
  <a href="<?php echo $brands; ?>" class="list-group-item"><?php echo $text_brands; ?></a>
  <a href="<?php echo $gift; ?>" class="list-group-item"><?php echo $text_gift; ?></a>
  <a href="<?php echo $affiliates; ?>" class="list-group-item"><?php echo $text_affiliates; ?></a>
  <a href="<?php echo $specials; ?>" class="list-group-item"><?php echo $text_specials; ?></a>
</div>
